<%- include("./partials/header") %>

<h1 class="text-center">To Do App</h1>

<!-- <nav class="navbar bg-body-tertiary">
    <a class="navbar-brand" href="/">Todo</a>
</nav> -->

<div class="container mt-5">
    <form action="/add/todo" method="POST" class="d-flex">
        <input type="text" name="todo" class="form-control border border-4" placeholder="Enter your item">
        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
    </form>

    <ul class="list-group my-3">
        <% todo.forEach(todos =>{ %>
            <li class="list-group-item"><%= todos.todo %>
                <a href="/delete/todo/<%=todos._id%>" class="btn btn-danger btn-sm">delete</a>
            </li>
        <% }) %>
    </ul>
</div>

<%- include("./partials/footer") %>    